<nav class="navbar navbar-expand-lg navbar-light " style="background-color: blue; color:white">
        <a class="navbar-brand text-white" href="{% url 'pet-list' %}">Pets</a>
        <button class="navbar-toggler" type="button" >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'create-pet' %}">Create pet</a>
                </li>
            </ul>

        </div>

    </nav>